@using ExpressVoitures.Controllers
@using ExpressVoitures.Models.Entities
@using ExpressVoitures.Data
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager


@model ExpressVoitures.Models.Entities.CarViewModel
@{
    ViewData["Title"] = "Details";
}

<h3> 
@if (User.Identity.IsAuthenticated && UserManager.GetUserAsync(User).Result != null)
{
    <a asp-controller="Cars" asp-action="Edit" asp-route-id="@Model.Id"><button class="small-red-button">Editer</button></a>
}  
</h3>

<div class="container-cars-details">
    <!-- Miniatures -->
    <div class="row">
        <div class="col-md-2">
            <div class="carousel-thumbnails">
                @if(Model.ImagePaths?.Count > 0)
                @foreach (var imagePath in Model.ImagePaths)
                {
                    <img src="@Url.Content($"~/{imagePath}")" class="img-thumbnail" alt="Car Thumbnail" onclick="changeImage(this)" style="width:100%"/>
                }
                @if (Model.ImagePaths?.Count <= 0)
                {
                <img src="~/Images/Img_Vignette_Default.jpg" class="card-img-top" alt="Car Image" style="width:100%" />
                }
            </div>
        </div>
        <!-- Image principale -->
         <div class="col-md-7">
            @if (Model.ImagePaths?.Count > 0)
            {
                var carImagePath = Model.ImagePaths.First();
                
                 <img src="@Url.Content($"~/{carImagePath}")" class="card-img-top" alt="Car Image" id="mainImage" onclick="openModal(this);" />
            }
            else
            {
                <img src="~/Images/Img_Vignette_Default.jpg" class="card-img-top" alt="Car Image" id="mainImage"  />
            }
        </div>
        <!-- Informations -->
        <div class="col-md-3 car-info">
            <h3>@Model.CarBrand.CarBrandName - @Model.CarModel.CarModelName</h3>
            <ul class="list-unstyled">
                <li> 
                @if (User.Identity.IsAuthenticated && UserManager.GetUserAsync(User).Result != null)
                {
                    <strong>Code VIN :</strong> @Model.CodeVIN                }
                </li>
                <li><strong>Finition :</strong> @Model.CarTrim.CarTrimName</li>
                <li><strong>Motorisation :</strong> @Model.CarMotor.CarMotorName</li>
                <li><strong>Kilométrage :</strong> @Model.Mileage km</li>
                <li><strong>Année :</strong> @Model.Year</li>
                <li><div class="car-info-available">Disponible le : @Model.DateOfAvailability<div class="car-info-available"></li>
            </ul>
            <div class="car-price-details">@string.Format(new System.Globalization.CultureInfo("fr-FR"), "{0:N0}", Model.SellingPrice)€</div>

        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="car-description">   
        <p>@Model.Description</p>
    </div>
</div>
<!-- Modal Lightbox -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        function changeImage(element) {
            console.log(element.src);
            var imagePath = element.src.split('\\').pop();
            console.log(imagePath);
            document.getElementById("mainImage").src =  imagePath;
        }

        function openModal(img) {
            var modal = document.getElementById("myModal");
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            
            modal.style.display = "block";
            modalImg.src = img.src;
            captionText.innerHTML = img.alt;

            modal.onclick = function(event) {
                if (event.target === modalImg) {
                // Ne fait rien si l'image est cliquée
                return;
                }
                // Sinon, ferme le modal
                modal.style.display = 'none';
            }
        }

            // Obtenir l'élément pour fermer le modal
            var span = document.getElementsByClassName("close")[0];

            // Lorsque l'utilisateur clique sur (x), fermez le modal
            span.onclick = function() {
                var modal = document.getElementById("myModal");
                modal.style.display = "none";
            }
            
    </script>
}
