@using ExpressVoitures.Controllers
@using ExpressVoitures.Models.Entities
@using ExpressVoitures.Data 
@* @inject HomeController homeController *@

@model IEnumerable<ExpressVoitures.Models.Entities.CarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Cars" asp-action="Create">Create New</a>
</p>

@foreach (CarViewModel carViewModel in Model) {

<div class="container mt-5">
    <div class="row">
        <!-- Car Card -->
        <div class="col-md-4">
            <div class="card car-card">
                @if (carViewModel.ImagePaths != null && carViewModel.ImagePaths.Count > 0)
                @foreach (string imagePath in carViewModel.ImagePaths)
                {
                    <img src="~/@imagePath" class="card-img-top" alt="Car Image">
                }      
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => carViewModel.CarBrandName)</h5>
                </div>
            </div>
        </div>
    </div>
</div>


}





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModel.CarModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand.CarBrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarTrim.CarTrimName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAvailability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (CarViewModel carViewModel in Model) {
        <tr>

            <td>
                    @Html.DisplayFor(modelItem => carViewModel.CarModelName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => carViewModel.CarBrandName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => carViewModel.CarTrimName)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => carViewModel.Year)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => carViewModel.Mileage)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => carViewModel.SellingPrice)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => carViewModel.DateOfAvailability)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => carViewModel.Description)
            </td>
            <td>
                    <a asp-controller="Cars" asp-action="Edit" asp-route-id="@carViewModel.Id">Edit</a> |
                    <a asp-controller="Cars" asp-action="Details" asp-route-id="@carViewModel.Id">Details</a>
                    <a asp-controller="Cars" asp-action="Delete" asp-route-id="@carViewModel.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
