@using ExpressVoitures.Controllers
@using ExpressVoitures.Models.Entities
@using ExpressVoitures.Data

@model IEnumerable<ExpressVoitures.Models.Entities.CarViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<!-- TODO A SUPPRIMER -->
<p>
    <a asp-controller="Cars" asp-action="Create">Create New</a>
</p>
<!-- Fin de A supprimer -->

<div class="container-cars">
   
    @foreach (CarViewModel carViewModel in Model)
    {
        <div class="car-card">
            <a asp-controller="Cars" asp-action="Details" asp-route-id="@carViewModel.Id">
            @if (carViewModel.ImagePaths?.Count > 0)
            {
                var carImagePath = carViewModel.ImagePaths.First();
                <img src="~/@carImagePath" alt="Car Image" style="width:100%" />
            }
            @if (carViewModel.ImagePaths?.Count <= 0)
            {
                <img src="~/Images/Img_Vignette_Default.jpg" alt="Car Image" style="width:100%" />
            }
            <h3 class="card-title">@Html.DisplayFor(modelItem => carViewModel.CarBrandName) &nbsp;-&nbsp; <span style="font-size: smaller;">@Html.DisplayFor(modelItem => carViewModel.CarModelName)</span></h3>
            <p>@Html.DisplayFor(modelItem => carViewModel.CarTrimName)</p>
            <p>@Html.DisplayFor(modelItem => carViewModel.CarMotorName)</p>
            <p>Année : @Html.DisplayFor(modelItem => carViewModel.Year) - @Html.DisplayFor(modelItem => carViewModel.Mileage) km</p>
            <p>@if (carViewModel.IsAvailable)
                {
                    <span
                    style="font-size: smaller;"><text> Disponible le : </text>
                    @Html.DisplayFor(modelItem =>
                             carViewModel.DateOfAvailability)</span>
                }
            </p>
            </a>
            <h2 class="car-price-landing">@string.Format(new System.Globalization.CultureInfo("fr-FR"), "{0:N0}", carViewModel.SellingPrice) €</h2>
        </div>
    }
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarModel.CarModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarBrand.CarBrandName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarTrim.CarTrimName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mileage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SellingPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfAvailability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (CarViewModel carViewModel in Model)
       {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => carViewModel.CarModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => carViewModel.CarBrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => carViewModel.CarTrimName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => carViewModel.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => carViewModel.Mileage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => carViewModel.SellingPrice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => carViewModel.DateOfAvailability)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => carViewModel.Description)
                </td>
                <td>
                    <a asp-controller="Cars" asp-action="Edit" asp-route-id="@carViewModel.Id">Edit</a> |
                    <a asp-controller="Cars" asp-action="Delete" asp-route-id="@carViewModel.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
