@using ExpressVoitures.Controllers
@using ExpressVoitures.Models.Entities
@using ExpressVoitures.Data

@model IEnumerable<ExpressVoitures.Models.Entities.CarViewModel>

@{
    ViewData["Title"] = "Index";
}

<!-- TODO A SUPPRIMER -->
<p>
    <a asp-controller="Cars" asp-action="Create">Create New</a>
</p>
<!-- Fin de A supprimer -->

<nav>
    <form method="get" class="d-flex" aspcontroller="Home" asp-action="Search" >
        <input class="form-control me-2" type="search" placeholder="Rechercher un modèle de voiture" aria-label="Search" name="query">
        <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
    <a class="nav-link" href="#">Link</a>
    <!-- Autres liens si nécessaire -->
</nav>

<div class="container-cars">

    @foreach (CarViewModel carViewModel in Model)
    {
        <div class="car-card">
            <a asp-controller="Cars" asp-action="Details" asp-route-id="@carViewModel.Id">
            @if (carViewModel.ImagePaths?.Count > 0)
            {
                var carImagePath = carViewModel.ImagePaths.First();
                <img src="~/@carImagePath" alt="Car" style="width:100%" />
            }
            @if (carViewModel.ImagePaths?.Count <= 0)
            {
                <img src="~/Images/Img_Vignette_Default.jpg" alt="CarDefault" style="width:100%" />
            }
                <h3 class="card-title">@Html.DisplayFor(modelItem => carViewModel.CarBrandName) &nbsp;-&nbsp; <span
                        style="font-size: smaller;">@Html.DisplayFor(modelItem => carViewModel.CarModelName)</span></h3>
                <p>@Html.DisplayFor(modelItem => carViewModel.CarTrimName)</p>
                <p>@Html.DisplayFor(modelItem => carViewModel.CarMotorName)</p>
                <p>Année : @Html.DisplayFor(modelItem => carViewModel.Year) - @Html.DisplayFor(modelItem =>
                carViewModel.Mileage) km</p>
                <p>@if (carViewModel.IsAvailable)
                    {
                        <span style="font-size: smaller;"><text> Disponible le : </text>
                    @Html.DisplayFor(modelItem => carViewModel.DateOfAvailability)</span>
                }
            </p>
            </a>
            <h2 class="car-price-landing">@string.Format(new System.Globalization.CultureInfo("fr-FR"), "{0:N0}", carViewModel.SellingPrice) €</h2>
        </div>
    }
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
    jQuery(document).ready(function () {
        $("form").submit(function(event){
            event.preventDefault();
            var query = $("input[type='search']").val();
            $.ajax({
                url: '@Url.Action("Search", "Home")',
                data: { query: query },
                success: function(data) {
                    $(".container-cars").html(data);
                },
                error: function() {
                    alert("Erreur lors de la recherche.");
                }
            });
        });
    });
    </script>
}

